.search__title {
	font-family: Raleway, Helvetica;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	text-align: center;
	width: 100%;
	background-color: #e55947;
	padding: 10px;
	color: #fff;
}

input[type=text] {
   box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radus: 3px;
    padding: 10px;
    outline: none;
    display: flex;
    margin: 10px;
}


input[type=text]:focus {
	border: 1px solid #0C0;
}

.search__box {
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	font-family: Helvetica;
	padding: 10px;
	border: 5px solid #22DD7C;
}

.search__box-inner {

}

.search__box-inner > img {
width:40%;
}
.search__box-inner > img > img {
width:40%;
}

.search__box-inner > img > img > img{
`width:40%;
}

.search__box-inner > img > img > img{
	color:#000;
	width:40%;
}

.search__button:hover {
	opacity: .5;

}

.search__button:active {
  box-shadow: 0 3px 0 #00823F;
  top: 3px;
}

.search__button {
  min-height: 100%;
  margin: 20px;
}

.search__result{
	padding: 10px;
}

.progressbar {
  background-color: #dfdfdf;
	border-radius: 13px;
	padding: 3px;
}

.progressbar > div {
   background-color: #467899;
   height: 20px;
   border-radius: 10px;
}

.geo__tracker {
		font-family: helvetica;
		text-align: center;
		width: 100%;
		height: 50px;
		color: #fff;
    background: #523179;
    padding-top: 30px;
    position: relative;
    -webkit-animation: mymove 3s infinite; /* Chrome, Safari, Opera */
    animation: mymove 3s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    from {
    	top:40px;
    	opacity: 1;
    }
    to {
    	top: 0px;
    	opacity: 0;
    }
}

@keyframes mymove {
    from {
    	top:50px;
    	opacity: 1;
    }
    to {
    	top: 0px;
    	opacity: 0;
    }
}

.watch__button{
	  width: 100%;
    height: 55px;
    background: #467899;
    outline: none;
    border: none;
    font-size: 14px;
    margin-top: 20px;
}

.watch__button:hover{
	   background: #5698c9;
}

.dangerbar {
  background-color: #dfdfdf;
	border-radius: 13px;
	padding: 3px;
}

.dangerbar > div {
   background-color: #d13a3a;
   height: 20px;
   border-radius: 10px;
}